<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><span class="sr-only">(current)</span></li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles<span class="sr-only">(current)</span></a> </li>
      <li class="li-btn clear-btn btn btn-danger">Clear Articles!</a></li>
    </ul>
  </div>
</nav>

<div class="modal add-modal">
  <div class="modal-content">
    <span onclick="location.href='/saved'" class="close">&times;</span>
    <form class="add-form">
      <input class="text" placeholder="Your note here" /><br>
      <button type="submit" class="add-note-btn btn-success">Submit Note</button>
    </form>
  </div>
</div>

<div class="modal edit-modal">
    <div class="modal-content">
        <span onclick="location.href='/saved'" class="close">&times;</span>
        <form class="edit-form">
            <input class="text" placeholder="Your note here" /><br>
            <button type="submit" class="edit-note-btn btn-success">Submit Note</button>
        </form>   
    </div>
</div>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>R/PathOfExile</p>
  </div>
</div>


<div class="container-fluid article-container">
  <ul class="saved">
    {{#if articles}}
    {{#each articles}}
    <li class="article-container container-fluid card" data-article-id={{_id}}>
      {{#if note}}
      <div class="a-content card-header">
        <div class="a-title"><a class="a-title" target="_blank" href={{link}}>{{title}}</a></div>
        <hr>
        <div class="note a-summary" data-note-id={{note._id}}>Note: {{note.text}}</div>
      </div>
      <br>
      <div class="btn-div btn-block">
        <button class="delete-note">Delete Note</button><br>
        <button class="edit-note">Edit Note</button><br>
        <button class="delete-article">Remove Article</button>
      </div>
      {{/if}}
      {{#unless note}}
      <div class="a-content">
        <div class="a-title"><a class="a-title" target="_blank" href={{link}}>{{title}}</a></div>
      </div>
      <div class="btn-div">
        <button class="add-note">Add Note</button>
        <button class="delete-article">Remove Article</button>
      </div>
      {{/unless}}
    </li>
    {{/each}}
    {{/if}}
    {{#unless articles}}
    <li class="article">
      Save some of your favorite articles in order to see them on the Saved Articles page.
    </li>
    {{/unless}}
  </ul>
</div>

<footer class="footer">
  <div class="container">
    <p>Mongo Scraper R/PathOfExile</p>
  </div>
</footer>
